body{
    background-color: aquamarine;
}
.column {
    float: left;
    width: 50%;
    text-align: center;  
}
li{
    display: inline;
    padding: 50px;
    padding-left: 10%;
    
}
ul{
    padding: 20px;
}
p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center ;
    padding-left: 20px;
}
h1{
    text-align: center;
}
.image {
    width: 200px;
    height:200px;
    border-radius: 50%;
}

.row{
    background-color: aquamarine;
    height: 300px;
}
.column{
    text-align: center;
}
.start{
    float: left;
    width: 50%;
}
#about{
    float: left;
    width: 50%;
    top: 60%;
    position: absolute;
    text-align: center;

}
#skills{
    float: right;
    width: 50%;
    top: 60%;
}
#contact{
    position: relative;
    top: 40;
    text-align: center;
    margin-top: -50px;
}
